.register {
    margin-top: 20px;
    text-align: center;
    background-color: #9CE2CB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 700px;
    height: 100%;
    max-width: 600px;
    width: 100%;
}

.input-fields {
    display: inline-grid;
}

.input-fields input {
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
    height: auto;
}

.warning {
    background-color: yellow;
    color: dimgrey;
    border-radius: 4px 4px;
    margin-bottom: 10px;
}

