.settings {
    align-content: center;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background-color: #9CE2CB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-picture {
    margin-bottom: 10px;
}

.profile-pic {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.themes {
    margin-bottom: 10px;
    display: inline-flex;
}

.settings button
.input-fields div {
    margin-bottom: 10px;
}

.save-password {
    margin-bottom: 10px;
}

.delete {
    float: left;
    background-color: red;
}

.cancel {
    float: right;
    background-color: yellow;
}
