.input-fields {
    text-align: -webkit-center;
}

    .input-fields input {
        margin-bottom: 10px;
        max-width: 300px;
        width: 100%;
        height: auto;
        padding-right: 30px;
    }

    .input-fields p {
        max-width: 300px;
        width: 100%;
        height: auto;
    }

.password-container {
    display: block;
    position: relative;
    max-width: 300px;
    width: 100%;
    height: auto;
}

.eye {
    position: absolute;
    max-width: 20px;
    cursor: pointer;
    top: 4px;
    right: 4%;
}

.warning {
    background-color: yellow;
    color: black;
    border: solid;
    border-color: orange;
}

.back {
    margin-top: 10px;
}

.underline a:hover {
    text-decoration: underline;
}
